<div class="wgt_clock">
    <div class="fecha">
        <p id="dayWeek" class="dayWeek">Saturday</p>
        <p id="day" class="day">9</p>
        <p>de </p>
        <p id="month" class="month">Febrero</p>
        <p>del </p>
        <p id="year" class="year">2019</p>
    </div>
    <div class="clock">
        <p id="hours" class="hours">16</p>
        <p>:</p>
        <p id="minutos" class="minutos">25</p>
        <div class="caja-segundos">
            <p id="segundos" class="segundos">30</p>
            <p id="ampm" class="ampm">PM</p>
        </div>
    </div>
</div>