<br>
<footer>
        <img class="logo" src="/IMG/logo/LogoYohanColla.png">
        <p class="copy">&copy; Hi Daxo.
        </p>
        <a class="link" href="/Privacy-Policy">Privacy Policy.</a>
        <a class="link" href="/Terms-Conditions">Terms and Conditions.</a>
</footer>