.cards {
    background-color: #e6e6e6;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    color: black;
    padding: 10px 8px 10px 15px;
    margin: 10px;
    display: inline-block;
}

.cards-icon {
    position: relative;
    left: 24%;
}

.cards-icon img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 0;
}

.card-icon p {
    text-align: center;
}

.cards-body {
    text-align: center;
}