@font-face {
    font-family: 'Comic Sans MS';
    src: url(/css/fonts/comic.ttf);
}

* {
    font-family: 'handlee', 'kalam', "Comic Sans";
    font-weight: lighter;
}

body {
    background: url("/IMG/backgrounds/BG_3.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 10px;
    padding: 5px;
}

/* ============ Scrollbar ========= */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 128, 0, 0.4);
}

*::-webkit-scrollbar-thumb {
    /* background-color: rgba(0, 128, 0, 0.4); */
    border-radius: 10px;
    border: 5px solid #ffcc23;
}

/* body::-webkit-scrollbar-button {
    background-color: rgba(0, 128, 0);
} */

.content {
    background-color: rgb(0, 0, 0, 0.4);
    color: aliceblue;
    border: 3px solid;
    border-radius: 40px;
    padding-top: 10px;
    line-height: 2em;
    text-align: justify;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.link {
    text-decoration: wavy;
    color: rgba(18, 203, 196, 1.0);
}

.frames {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.frames>div {
    width: 50%;
    display: block;
}

.discordFrame {
    float: right;
    width: 350px;
    height: 385px;
    margin-left: 20px;
}

/*===============================
=         PC - TABLETS         =
===============================*/

@media screen and (min-width: 950px) {
    body {
        padding-top: 72px;
    }

    /*********** BODY *************/
    .content {
        padding: 10px 15px 5px 20px;
        /* margin-left: 10px; */
        font-size: 20px;
        /*text-align: justify;*/
    }

    #img-brolandia {
        width: 300px;
        height: 200px;
        float: left;
        margin-right: 15px;
        border-radius: 5px;
    }

    /********* END BODY **********/

    /********* FOOTER ***********/
    footer {
        min-height: 70px;
        height: fit-content;
        background: -webkit-linear-gradient(left, rgba(0, 148, 50, 0.8), rgba(247, 159, 31, 0.8));
        padding: 10px 10px;
        width: 100%;
        font-family: 'Handlee', "Comic Sans MS";
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 15px;
        color: #DDDDDD;
    }

    footer a {
        text-decoration: none;
        color: #DDD;
    }

    footer .copy {
        color: #DDD;
        font-size: 1.13em;
        display: inline;
    }

    footer img {
        float: left;
        width: 88px;
        height: 31px;
    }

    /*END FOOTER*/
}

/*===============================
=          CELULARES           =
===============================*/
@media (width < 950px) {
    body {
        padding-top: 69px;
    }

    .wlc_u {
        color: white;
        font-size: 19px;
        margin: 0;
    }

    .content {
        padding: 15px;
        font-size: 20px;
        text-align: justify;
    }

    #img-brolandia {
        width: 100%;
        height: 200px;
        float: left;
        margin-right: 15px;
        border-radius: 5px;
    }

    .frames>div {
        width: 100%;
    }

    h1,
    h2 {
        text-align: center;
    }

    .discordFrame {
        width: 100%;
        height: 385px;
    }

    footer {
        height: auto;
        color: #FFFFFF;
        background: -webkit-linear-gradient(left, rgba(0, 148, 50, 0.8), rgba(247, 159, 31, 0.8));
        padding: 10px 10px;
        width: 100%;
        display: flex;
        font-family: 'Handlee', "Comic Sans MS";
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 15px;
        color: #FFF;
    }

    footer .copy-t {
        display: none;
    }

    footer .copy {
        display: inline-block;
        font-size: 1.2em;
        color: #DDD;
    }

    footer img {
        width: 120px;
        height: 50px;
    }
}


/*===============================
=          Decorations          =
===============================*/

p.dashed,
.dashed {
    border-style: dashed;
    border-right-style: none;
}


/*=====  End of Decarations  ======*/