<!DOCTYPE html>
<html lang="es">

<head>
    <title>{{title}} - HiDaxo</title>
    <link rel="shrotcut icon" href="http://cdn.yohancolla.ga/IMG/logo/logo-2.ico">
    <!--META_TAGS-->
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yohan Colla">
    <meta name="description" content={{descPag}}>
    <!-- Chrome, Firefox OS and Opera -->
    <meta content='#008000' name='theme-color' />
    <!-- Windows Phone -->
    <meta content='GREEN' name='msapplication-navbutton-color' />
    <meta name="google-site-verification" content="H3EGmlKbSsWQJk1RMP9-HIEuVsTnth3gq-EFRfiIPAM" />
    <!--END_META_TAGS-->
    {{>head}}
</head>

<body>
    {{> header}}
    <section class="content">
        {{{ body }}}
    </section>
    {{>footer}}
    {{>scripts_footer}}
</body>

</html>