{{!-- <style>
    h2 {
        text-align: center;
        color:#02E9F1;
        text-shadow:5px 4px 4px #00C7CE;
    }

    .introduction{
        text-align: justify;
        }

    #list {
        text-align:center;
        }

    #colors {
        border-radius: 10px;
        font-family:'Comic Sans MS', Kalam;
    }

    /*@media screen and (max-width: 800px) {
        h2 {font-size:45px;}
        .introduction {font-size:41px;}
        #list{font-size:41px;}
        #colors{font-size: 2.5em;height: 50px;width: 200px;}
    }

    @media screen and (min-width: 1100px) {
        h2 {font-size:35px;}
        .introduction{font-size:35px;}
        #list{font-size:35px;}
        #colors{font-size: 1em;height: 25px;width: 100px;}
    }*/
</style> --}}
<section class="content">
    <h2><i>Comandos por voz de Google</i></h2>
    <div class="introduction">
        <p>El buen reconocimiento por voz que nos ofrece este servicio nos va a permitir poder hacer consultas por voz sin necesidad de tener que andar tecleando. Una herramienta que nos va a facilitar mucho la vida y que además, podemos usar tanto como en nuestros teléfonos inteligentes como en un smartwatch.</p>
        <p>Recordad, que estos comandos son válidos tras decir "Ok, Google", que como sabéis es el comando clave de Google que abre el servicio.</p>
        <br>
        <h3><b>Lista de comandos del Asistente de Google</b></h3>
    </div>
    <section id="list">
        <p><b>Llamadas y mensajes</b></p>
        <ul align="left">
            <li><b>Llamar a [contacto]</b> - Ejemplo: llamar a [Mamá]</li>
            <li><b>Enviar mensaje a [contacto] [mensaje]</b> - Ejemplo: enviar mensaje a [Mamá] [Hola qué tal]</li>
            <li><b>Manda un mensaje a [contacto] diciendo [mensaje]</b> - Ejemplo: manda un mensaje a [Mamá] diciendo [Hola qué tal]</li>
            <li><b>Envia un mensaje a [contacto] por Whatsapp diciendo [mensaje]</b> - Ejemplo: Envia un mensaje a [Mamá] diciendo [Hola qué tal]</li>
        </ul>
        <p>(Hay muchos comandos más para realizar este tipo de acciones)</p>
        <br />
        <p><b>Notas y Recordatorios</b></p>
        <ul align="left">
            <li><b>Recuérdame [acción] en [x] horas</b> – Ejemplo: recuérdame [hacer la compra] en [2] horas</li>
            <li><b>Despiértame en [x] horas</b> – Ejemplo: despiértame en [2] horas</li>
            <li><b>Establecer alarma para la/las [x]</b> – Ejemplo: establecer alarma para la [1] de la tarde</li>
            <li><b>Añadir nota [texto]</b> - Ejemplo: añadir nota [llamar a Manuel]</li>
        </ul>
        <br />
        <p><b>Música</b></p>
        <ul align="left">
            <li><b>Escuchar [nombre canción/ nombre artista] en Play Music/Youtube</b></li>
            <li><b>Canciones [artista] </b>- Ejemplo: canciones [Metallica]</li>
            <li><b>Álbumes [artista]</b></li>
            <li><b>Obras [artista]</b></li>
            <li><b>Compañía/miembros/grupos [artista/grupo]</b></li>
        </ul>
        <br />
        <p><b>Apps</b></p>
        <ul align="left">
            <li><b>Abrir [nombre de la aplicación] </b>– Ejemplo: abrir Whatsapp</li>
        </ul>
        <br />
        <p><b>Hora y datos</b></p>
        <ul align="left">
            <li><b>Hora en [país]</b> - Ejemplo: hora en [Francia]</li>
            <li><b>Cuando [amanece/anochece] en [país]</b></li>
            <li><b>Zona horaria en [ciudad]</b></li>
        </ul>
        <br />
        <p><b>Conocimiento</b></p>
        <ul align="left">
            <li><b>Cuándo se estrenó [película] </b>- Ejemplo: cuando se estrenó [Saw 4]</li>
            <li><b>Quién produjo [película]</b></li>
            <li><b>Reparto de [serie o película]</b></li>
            <li><b>Cuánto dura la película [nombre]</b></li>
            <li><b>Qué películas hizo [director]</b></li>
            <li><b>En qué películas ha actuado [nombre]</b></li>
            <li><b>Fecha de estreno/primer episodio/director/reparto/música/creador/escritores/premios [película/serie]</b> - Ejemplo: Fecha de estreno [Dexter]</li>
            <li><b>Películas/nominaciones/premios [actor/actriz] </b>- Ejemplo: películas [Clint Eastwood]</li>
        </ul>
        <br />
        <p><b>Tiempo</b></p>
        <ul align="left">
            <li><b>Qué temperatura va a hacer el [día] a la mañana/a la tarde/a la noche</b> - Ejemplo: Qué temperatura va a hacer el día [4] a la mañana</li>
            <li><b>Va a llover mañana</b></li>
            <li><b>Va a llover el [día]</b> - Ejemplo: va a llover el día [5]?</li>
            <li><b>Tiempo en + [país/ciudad]</b> - Ejemplo: tiempo en [Santiago]</li>
        </ul>
        <br />
        <p><b>Imágenes</b></p>
        <ul align="left">
            <li><b>Muéstrame imágenes de [nombre] [acción] </b>– Ejemplo: muéstrame imágenes de [Ronaldo] [jugando al fútbol]</li>
            <li><b>Imágenes de [monumento] [al atardecer/amanecer/anochecer]</b></li>
            <li><b>Logo de [empresa] </b>- Ejemplo: logo de [Google]</li>
        </ul>
        <br />
        <p><b>Deporte</b></p>
        <ul align="left">
            <li><b>Cuándo juega [equipo] </b>- Ejemplo: cuando juega [el Real Madrid]</li>
            <li><b>Salario de [deportista] </b>- Ejemplo: salario de [Cristiano Ronaldo]</li>
            <li><b>Calendario de [equipo]</b></li>
            <li><b>Resultado de [equipo]</b></li>
            <li><b>Equipos de [deportista]</b></li>
            <li><b>Premios [deportista]</b></li>
            <li><b>Capacidad de [estadio]</b></li>
            <li><b>Inauguración de [estadio]</b></li>
            <li><b>Cierre de [estadio]</b></li>
            <li><b>Equipo arquitecto de [nombre del estadio]</b></li>
        </ul>
    </section>
    <div class="introduction">
        <p>Estos son algunos de los comandos de Google, ya que hay muchas más formas distintas de decir lo mismo, pero con estos podremos cubrir ampliamente nuestras necesidades. Todos los comandos son compactibles con la tecnología de google.</p>
    </div>
</section>