<div class="dash-tittle">
    <div class="dash-img">
        <img src="https://cdn.discordapp.com/icons/{{servers.id}}/{{servers.icon}}.png" alt="icon{{servers.id}}">
    </div>
    <div>
        <h1><b>{{servers.name}}</b></h1>
    </div>
</div>
<form action="" method="GET" onsubmit="alert('NO JODAS AHORA SI FUNCIONA')">
    <input type="text" name="msgText" id="msgText" autocomplete="off" placeholder="Escribe tu mensaje">
    <input type="submit" id="btnEnviar" value="Enviar">
</form>