
    <h1>Usuario: {{user.username}} # {{user.discriminator}}</h1>
    <hr>
    <div class="cards">
        <img src="/IMG/logo/icon-1.png" alt="Icon">
        <div class="cards-body">
            <h2 class="cards-tittle">Servidor: {{servidor.name}}</h2>
            <a href="/dash/654830450920914955" class="btn radius yellow">Ver</a>
        </div>
    </div>