<div class="header-dash" aria-owns="true">
    {{> headerDash}}
</div>
{{#each emojis}}
<div class="cards">
    <div class="cards-body">
        <h4 class="cards-title">Emoji: {{this.name}}</h4>
        <img src="{{this.url}}" alt="{{this.name}}">
    </div>
</div>
{{/each}}