<!--meta name="description" content="Galeria de imágenes del server The Broland"-->
<section class="content">
    {{!-- <div id="imgs">
        <img src="../IMG/Brolandia/S1/img09.png" alt="Img9" title="Img9" aria-owns="true">
        <img src="../IMG/Brolandia/S1/img08.png" alt="Img8" title="Img8">
        <img src="../IMG/Brolandia/S1/img02.png" alt="Img02" title="Img02">
        <img src="../IMG/Brolandia/S1/img1.jpg" alt="Img1" title="Img1">
        <img src="../IMG/Brolandia/S1/img11.jpg" alt="Img11" title="Img11">
        <img src="../IMG/Brolandia/S1/img04.jpg" alt="Img04" title="Img04">
        <img src="../IMG/Brolandia/S1/img05.png" alt="Img05" title="Img05">
        <img src="../IMG/Brolandia/S1/img07.jpg" alt="Img07" title="Img07">
        <img src="../IMG/Brolandia/S1/img10.jpg" alt="Img10" title="Img10">
        <img src="../IMG/Brolandia/S1/img12.jpg" alt="Img12" title="Img12">
        <img src="../IMG/Brolandia/S1/img13.jpg" alt="Img13" title="Img13">
    </div> --}}
    <div id="imgs">
        <img src="../IMG/Brolandia/S3/img01.jpg" alt="Img1" title="Img1" aria-owns="true">
        <img src="../IMG/Brolandia/S3/img02.jpg" alt="Img2" title="Img2">
        <img src="../IMG/Brolandia/S3/img03.jpg" alt="Img3" title="Img3">
    </div>
    <link rel="stylesheet" type="text/css" href="../css/gallery_images.css" />
</section>
