<!--meta name="description" content="Galeria de imágenes del server The Broland"-->
<section class="content">
    <h1>Imágenes del servidor The Broland</h1>
    <hr>
    <h2>The Broland Temporada 1</h2>
    <div class="slides">
        <div class="slider-5">
            <ul>
                <li><img src="../IMG/Brolandia/S1/img09.png" alt="Img9" title="Img9" aria-owns="true"></li>
                <li><img src="../IMG/Brolandia/S1/img02.png" alt="Img02" title="Img02"></li>
                <li><img src="../IMG/Brolandia/S1/img1.jpg" alt="Img1" title="Img1"></li>
                <li><img src="../IMG/Brolandia/S1/img11.jpg" alt="Img11" title="Img11"></li>
                <li><img src="../IMG/Brolandia/S1/img04.jpg" alt="Img04" title="Img04"></li>
            </ul>
        </div>
        <div class="slider-5">
            <ul>
                <li><img src="../IMG/Brolandia/S1/img05.png" alt="Img05" title="Img05"></li>
                <li><img src="../IMG/Brolandia/S1/img07.jpg" alt="Img07" title="Img07"></li>
                <li><img src="../IMG/Brolandia/S1/img10.jpg" alt="Img10" title="Img10"></li>
                <li><img src="../IMG/Brolandia/S1/img12.jpg" alt="Img12" title="Img12"></li>
                <li><img src="../IMG/Brolandia/S1/img13.jpg" alt="Img13" title="Img13"></li>
            </ul>
        </div>
    </div>
    <br><hr>
    <h2>The Broland Temporada 2</h2>
    <div class="slider-4">
        <ul>
            <li><img src="../IMG/Brolandia/S2/20210109-003742.jpg" alt="20210109-003742" title="20210109-003742"></li>
            <li><img src="../IMG/Brolandia/S2/20210109-003911.jpg" alt="20210109-003911" title="20210109-003911"></li>
            <li><img src="../IMG/Brolandia/S2/20210112-183809.jpg" alt="20210112-183809" title="20210112-183809"></li>
            <li><img src="../IMG/Brolandia/S2/20210112-213142.jpg" alt="20210112-213142" title="20210112-213142"></li>
        </ul>
    </div>
    <br><hr>
    <h2>The Broland Temporada 3</h2>
    <div class="slider-3">
        <ul>
            <li><img src="../IMG/Brolandia/S3/img01.jpg" alt="Img1" title="Img1" aria-owns="true"></li>
            <li><img src="../IMG/Brolandia/S3/img02.jpg" alt="Img2" title="Img2"></li>
            <li><img src="../IMG/Brolandia/S3/img03.jpg" alt="Img3" title="Img3"></li>
        </ul>
    </div>
</section>
