{{!>clock-widget}}
<h1 style="color: aqua;text-align: center">Servidor The Broland</h1>
<hr>
<p>
    <span>¡Este es un servidor de Minecraft Bedrock en el que queremos pasarla bien jugando, charlando y haciendo nuevos
        amigos!
    </span><br><br>
    <span>Al entrar el mundo verás algunas construcciones hechas como: casas, edificios decorativos, administrativos y
        de vivienda. Y se planea hacer una ciudad en donde podras comprar o rentar una casa (si quieres puedes construir
        tu propia casa) y tener una profesión o trabajo.
    </span><br>
    <img src="IMG/LogoTheBroland.jpg" title="BannerTheBroland" alt="BannerTheBroland" width="150px"
        style="float: right">
    <span>Esta imagen es el banner The Broland, creado por <b>CollaGamer</b>. En este server tenemos una jerarquía, es
        decir, tenemos un presidente, policías, médicos, ciudadanos y otros cargos (El presidente será el cargo más alto
        y será él quien dirija todo el servidor). También hay un alcalde y es un rango menor que el presidente.<br>Así
        mismo, se elige un nuevo alcalde cada 2 meses y un presidente cada 4 meses, este proceso se hace por medio de
        una página en la cuál todos los jugadores del server pueden votar.</span>
    <br><br>
    <span>Entérate de las reglas para que evites ser baneado del server. Las reglas son:
        <ol>
            <li>No Robar</li>
            <li> No destruir la casa de los demás: específicamente no romper ningún bloque en el terreno de la casa de
                algún jugador a menos que el dueño te lo permita.</li>
            <li> No destruir las construcciones que están dentro de la muralla.</li>
            <li> Si vas a hacer alguna broma a algun jugador (así sea con TNT) lo puedes hacer <b>pero</b> tienes que
                reconstruirle la casa o recuperarle sus objetos perdidos.</li>
            <li> NO matar a los demás jugadores o seras encarcelado.</li>
            <li> Está PROHIBIDO duplicar items o bloques, si se tienen pruebas de que has hecho esto serás expulsado del
                server.</li>
            <li> Si eres admin en el mundo y no eres alcalde o presidente, NO uses otros comandos que no esten en los
                botones del chat.</li>
            <li> No puedes tener más de dos casas en el mundo. Además <i>¿Para qué más casas?</i></li>
            <li> Si vas a contruir algo hazlo pero, FUERA DE LA MURALLA.</li>
            <span><strong>¡Si no cumples estas reglas seras baneado o castigado!</strong></span>
        </ol>
    </span>
    <iframe src="https://discordapp.com/widget?id=654830450920914955&theme=dark" width="350px" height="385px"
        allowtransparency="true" frameborder="0" style="float: right;">
    </iframe><br>
    <span>También, según lo que mande el presidente puede modificar los rangos o cargos de los jugadores. En el server
        no se verá el nombre del rango pero sí el número. Estos rangos están en este orden:
    </span>
    <ol>
        <li>
            Invitado
        </li>
        <li>
            Miembro
        </li>
        <li>
            Ciudadano
        </li>
        <li>
            Otros cargos
        </li>
        <li>
            Médico o Bombero
        </li>
        <li>
            Constructor
        </li>
        <li>
            Policía
        </li>
    <li>
        Jefe de Policía
    </li>
    <li>
        Asistentes u Organizadores de Eventos
    </li>
    <li>
        <b>Alcade (Admin)</b>
    </li>
    <li>
        <b>Presidente (Admin)</b>
    </li>
</ol>
</section>
<br>
<section class="content">
    <br>
    <span><i>¿Quieres entrar?</i> Para entrar debes cumplir con unas pequeñas reglas y mandar tu gamertag al chat grupal
        de <a href="https://discord.gg/yrtZMAxFuF" class="btn radius blue">Discord</a> o WhatsApp. Puedes añadir este
        servidor en <i>Minecraft</i> haciendo clic aqu&iacute;:<a
            href="minecraft://?addExternalServer=§b§lTheBroland|brolandia.pvp.kiwi:19139"
            class="btn radius medium red">A&ntilde;adir Server</a></span>
    <ol>
        <span>
            <h3>Reglas para unirse al server</h3>
        </span>
        <li><span>Debes tener la versi&oacute;n m&aacute;s actual de minecraft (ya sea la oficial o beta).</span></li>
        <li><span>Debes tener cuenta XboxLive o Gamertag</span></li>
        <li><span>Si eres nuevo conéctate por lo menos dos o tres días a la semana al server.</span></li>
        <li><span>Qué edad tienes? Para entrar al server debes tener más de 12 años.</span></li>
    </ol>
    <!--Hacer una pagina sobre como entrar al server-->