{{!>clock-widget}}
<ul>
    <span>
        <h3>Noticias o Novedades</h3>
    </span>
            <li>
                <p>El 11 de enero del 2021, fue el comienzo de este server <b>TheBroland</b>.</p>
            </li>
            <li>
                <p>Si tienes ideas para mejorar la ciudad, no temas dilas al grupo y veremos si la podemos hacer y así seguir mejorando la ciudad.</p>
            </li>
            <li>
                <p>Si quieres invitar a amigos u otras personas hazlo e invitalo al grupo.</p>
            </li>
</ul>
<br>
<a href="/login" class="btn large blue">INICIAR SESION</a>