{{!>clock-widget}}
    <h2>
        <script type="application/javascript">
            function getIP(json) {
                document.write("Tu ip es: ", json.ip);
            }
        </script>
        <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
    </h2>
</section>
<br>
<section class="content">
    <span><i>¿Quieres entrar?</i> Para entrar debes cumplir con unas pequeñas reglas y mandar tu gamertag al chat grupal
        de <a href="https://discord.gg/yrtZMAxFuF" class="btn radius blue">Discord</a> o WhatsApp. Puedes añadir este
        servidor en <i>Minecraft</i> haciendo clic aqu&iacute;:<a
            href="minecraft://?addExternalServer=§b§lTheBroland|hidaxo.xyz:19132"
            class="btn radius medium red">A&ntilde;adir Server</a></span>
    <ol>
        <span>
            <h3>Reglas para unirse al server</h3>
        </span>
        <li><span>Debes tener la versi&oacute;n m&aacute;s actual de minecraft (ya sea la oficial o beta).</span></li>
        <li><span>Debes tener cuenta XboxLive o Gamertag</span></li>
        <li><span>Si eres nuevo conéctate por lo menos dos o tres días a la semana al server.</span></li>
        <li><span>Qué edad tienes? Para entrar al server debes tener más de 12 años.</span></li>
    </ol>