<section class="content">
    <h1>The Broland</h1>
    <p>
        ¡Este es un servidor de Minecraft Bedrock en el que queremos que tanto tú como todos los integrantes puedan
        pasarla bien jugando, charlando y haciendo nuevos amigos!
    </p>
    <p>
        El servidor tiene una asombrosa semilla con varios biomas, donde podrás construir lo que quieras, eso sí,
        has de
        conseguir los materiales ya que el servidor es 100% Supervivencia. Tenemos en el mundo varios mods que nos
        ayudarán como un robot que vaya a minar por ti, también hay mods para aumentar la dificultad del juego,
        además
        de todo lo nuevo de la actualización de la <i>Trails &amp; Tales </i>. Espero que quieras unirte y
        disfrutemos
        de vivir grandes experiencias en <strong>Minecraft!</strong>
    </p>
    <h2>¿Quieres saber cómo unirte?</h2>
    <span>Ve a la sección de <i><b>The Broland</b></i> para saber más sobre el servidor.</span>
</section><br>
<section class="content">
    <h1>| Daxo Bot |</h1>
    <p>Desde ésta página podrás administrar todas las opciones que tiene Daxo para ti, si buscas las opciones para
        Discord ve a la sección <b>Dashboard</b></p>
    <br>
    <h2>Sobre Daxo</h2>
    <p>
        Daxo es un bot con el objetivo de cumplir múltiples propósitos para ayudarte en diversas plataformas. <br />
        Daxo te puede ayudar a controlar tu servidor de <b>Discord</b> como dar roles, expulsar usuarios u obtener info
        del servidor o de un usuario, Daxo también te puede acompañar en los grupos de <b>Telegram</b> (Beta) o
        simplemente dar algo de diversión al chat, como enviar memes, chistes, hacer shipeo o jugar al piedra, papel o
        tijera con Daxo.
    </p>
    <p>
        Espero que disfrutes y te hagas amig@ de Daxo, él es un poco tímido y serio pero, es un buen chico que también
        quiere hacer amistades 😉
    </p>
</section>