<h2><i>Music without copyright</i></h2>
<div class="players" id="player2-container">
    <div class="media-wrapper">
        <audio id="player2" preload="none" controls style="max-width:100%;">
            <source src="music/Veorra%20-%20Set%20Free.mp3" type="audio/mp3">
        </audio>
    </div>
</div>

<ol>
    <li><i>Veorra - Set Free</i>&nbsp;&nbsp;
    </li>
    <li><i>MINECRAFT Sweden (Trap Remix)</i>&nbsp;&nbsp;<audio controls
            src="music/MINECRAFT%20Sweden%20(Trap%20Remix).mp3"></audio></li>
    <li><i>YohanColla - Wahio</i>&nbsp;&nbsp;<audio controls src="music/Wahio.mp3"></audio></li>
    <li><i>Desmeon - On That Day (feat. ElDiablo Flint Zadik) [NCS Release] </i>&nbsp;&nbsp;<audio controls
            src="music/Desmeon - On That Day (feat. ElDiablo Flint  Zadik) [NCS Release].mp3"></audio></li>
    <li><i>K-391 - Dream Of Something Sweet ft. Cory Friesenhan [NCS Release]</i>&nbsp;&nbsp;<audio controls
            src="music/K-391 - Dream Of Something Sweet ft. Cory Friesenhan [NCS Release].mp3"></audio></li>
    <li><i>TheFatRat-No_No_No</i>&nbsp;&nbsp;<audio controls src="music/TheFatRat-No_No_No.mp3"></audio></li>
    <li><i>TheFatRat-Fly_Away_feat._Anjulie</i>&nbsp;&nbsp;<audio controls
            src="music/TheFatRat-Fly_Away_feat._Anjulie.mp3"></audio></li>
    <li><i>TheFatRat-MAYDAY_feat._Laura_Brehm</i>&nbsp;&nbsp;<audio controls
            src="music/MAYDAY_feat._Laura_Brehm.mp3"></audio></li>
    <li><i>Two_Feet-Go_F*ck_Yourself</i>&nbsp;&nbsp;<audio controls src="music/Two_Feet_-_Go_F_ck_Yourself.mp3"></audio>
    </li>
</ol>