<section class="content">
    <div class="header-dash" aria-owns="true">
    {{> headerDash}}
    </div>
    <hr>
    <div class="optionsPanel">
        <a href="/dash/{{servers.id}}/commands" class="btn large red">Custom Commands</a>
        <a href="/dash/{{servers.id}}/canales" class="btn medium blue">List Channels</a>
        <a href="/dash/{{servers.id}}/emojis" class="btn medium green">List Emojis</a>
    </div>
</section>
