<section class="content">
{{!>clock-widget}}
    <h2>
        <script type="application/javascript">
            function getIP(json) {
                document.write("Tu ip es: ", json.ip);
            }
        </script>
        <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
    </h2>
</section>
<br>
<section class="content">
    <form id="recargas" action="/">
        <input type="text" name="usuario" placeholder="usuario">
        <input type="password" name="clave" placeholder="Contraseña">
        <input type="text" name="consulta" placeholder="consulta">
        <button type="submit" class="btn medium blue">Enviar</button>
    </form>
    <hr>
    <button type="button" class="btn large orange" onclick="tarer()">Ver Usuario GD</button>
    <h2 id="mostrarGD"></h2>
        <script>        
            var parf = document.getElementById("mostrarGD");
            function tarer() {
                fetch("https://gdbrowser.com/api/profile/CollaGamerYT")
                .then( res => res.json())
                .then( data => {
                    parf.innerHTML = "el usuario es: " + data.username + " con la id: " + data.playerID;
                });
            }
        </script>
    <br>
    <div id="rec"></div>
</section>