<section class="content">
    {{!>clock-widget}}
    {{!-- <img src="{{ user.picture }}"> --}}
    <h2>
        <script type="application/javascript">
            function getIP(json) {
                document.write("Tu ip es: ", json.ip);
            }
        </script>
        <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
    </h2>

    <br>
    <h1>Ejecutar Comando en Servidor</h1>
    <button onclick="startCommand()">Iniciar Server</button>
    <input type="text" id="commandInput" placeholder="Escribe un comando">
    <button onclick="sendCommand()">Enviar Comando</button>
    <div id="output"
        style="backgroud:black;color:lime;padding:10px; height:300px; overflow-y: auto; white-space:pre-wrap;"></div>

    <script>
        const socket = io();
        function startCommand() {
            socket.emit("startCommand", "cd /home/yoko/Escritorio/bedrock-server-1.21.50.10 && LD_LIBRARY_PATH=. ./bedrock_server");
        }
        function sendCommand() {
            const cmd = document.getElementById("commandInput").value;
            socket.emit("sendCommand", cmd);
        }
        socket.on("output", (data) => {
            document.getElementById("output").innerHTML += data + "<br>";
        });
    </script>
</section>
<br>
<section class="content">

    <div id="verSaldo"></div>
    <h2>Recargar</h2>
    <form id="recargar" action="/">
        <input type="password" name="clave" placeholder="Contraseña">
        {{!-- <input type="text" name="consulta" placeholder="consulta"> --}}
        <select name="o">
            <option value="100">Claro</option>
            <option value="101">Movistar</option>
            <option value="102">Tigo</option>
            <option value="103">Avantel</option>
            <option value="702">Movii Recarga</option>
        </select>
        <input type="number" name="n" placeholder="número celular">
        <input type="number" name="v" placeholder="Valor">
        <select name="t">
            <option value="0">Saldo</option>
            <option value="1">Ganancia</option>
        </select>
        <button type="submit" class="btn medium blue">Enviar</button>
    </form>
    <br>
    <div id="respuesta"></div>
    <br>
    <hr>
    <button type="button" class="btn large orange" onclick="tarer()">Ver Usuario GD</button>
    <h2 id="mostrarGD"></h2>
    <script>
        var parf = document.getElementById("mostrarGD");
        function tarer() {
            fetch("https://gdbrowser.com/api/profile/CollaGamerYT")
                .then(res => res.json())
                .then(data => {
                    parf.innerHTML = "el usuario es: " + data.username + " con la id: " + data.playerID;
                });
        }
    </script>
</section>